* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Abel;
  color: #222;
  background-color:lavender;
}

p, li {
  font-size: 1.2em;
}


a {
  text-decoration: none;
}

.container {
  padding: 0% 20% 0 20%;
}

.container h3{
  margin-top: 2em;
  text-align: center;
  font-size: 1.5em;
}

.container p {
  margin-top: 1em;
}

.container li {
  margin-top: .5emem;
}

.container p:last-of-type {
  margin-bottom: 2em;
}

.data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media screen  and (max-width: 800px) {
  .container {
      padding: 10% 10% 0 10%;
    }

 
}


.btn {
  background-color: blueviolet;
  color: white;
  border: none;
  padding: 0.5em 1em;
  font-weight: 700;
  font-size: 1.2em;
  border-radius: 14px;
  cursor: pointer;
}

.btn:hover {
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
}

.import {
    margin-right: 1em;
    margin-bottom: 1em;
    display: inline-block;
}
.sample {
  background-color: rgb(210, 152, 75);
}

.txt-row {
  margin: 1em 0;
}

.extreme {
   color: rgb(218, 48, 48);
}

.high {
   color: rgb(244, 151, 45);
}

.elevated {
   color: rgb(218, 195, 48);
}

.normal {
   color: rgb(73, 218, 48);
}

.link {
  color: white;
    background-color: blueviolet;
    border-radius: 2px;
  }

.link:hover {
  text-decoration: underline;
    padding: 0.05em;

}

.insights p {
  font-size: 1.1em;
  line-height: 2em;
}

td, th {
  border: 1px solid grey;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: grey;
  color: red
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: blueviolet;
  color: white;
}

tr:hover {
  background-color: #ddd;
}


.line {
  background-color: black;
  height: 2px;
  width: 100vw;
}